<h1>New Game</h1>
<br>

<% @letters.each do |letter| %>
<h3><%= letter %></h3>
<% end %>

<form action="score">
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" placeholder="Enter word here...">
  <input type="submit">
</form>
